* {
    box-sizing: border-box;
  }
html{
  scroll-behavior: smooth;
}
body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img{
  width: 200px;
  border-radius: 50%;
  display: block;
  margin: 0px auto;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 1px;

}

.header{
  border: 1px solid red;
}
.main{
  border: 1px solid red;
  margin: 0px auto;
}
.footer{
  border: 1px solid red;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav-link{
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
  text-decoration: none;
}
.nav-link:link{
  color: gray;
}
.nav-link:visited{
  color: gray;
}
.nav-link:hover{
  color: darkgray;
  text-decoration: underline;
}
.section-title{
  text-align: center;
}